@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
  --primary-color: #0d1b48;
  --secondary-color: #c33c54;
  --bg-color: #f5f9fe;
  --graph-color: #5a9aee;
  --dark-color: #0b0f19;
  --light-color: #fff;
}

/**************************************************************************************************
********************************************* BASE STYLES *****************************************
**************************************************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-color);
  line-height: 1.5;
  font-family: Poppins, sans-serif;
}

p {
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.7rem;
  line-height: 1.3;
  letter-spacing: 0.15rem;
  word-spacing: 0.3rem;
}

/**************************************************************************************************
**************************************** UTILITY CLASSES *****************************************
**************************************************************************************************/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.heading {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 32px;
  margin: 1rem 0;
  text-transform: capitalize;
}

.para {
  line-height: 1.6;
  font-weight: 300;
  text-align: justify;
}

/*********************************** NAVBAR START ************************************/

.main-header {
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: sticky;
  top: 0;
  justify-content: space-between;
  /* padding: 0.85rem; */
}

.logo {
  margin: 10px 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.navbar ul li {
  /* margin: 0 1rem; */
  padding: 0 1rem;
  text-transform: capitalize;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list .menu-item a {
  padding: 0.85rem;
}

.menu-list li.menu-item {
  display: inline-block;
}

ul.sub-menu {
  width: 150px;
  position: absolute;
  background-color: var(--primary-color);
  left: 20px;
  display: none;
}

ul.sub-menu a {
  width: 100%;
  box-sizing: border-box;
}

ul.sub-menu li {
  padding: 10px;
}

ul.sub-menu li:hover {
  background-color: var(--secondary-color);
}

.has-sub-menu {
  position: relative;
}

.has-sub-menu:hover .sub-menu {
  display: block;
}

/*********************************** NAVBAR END ************************************/

/*********************************** SECTION START ************************************/

#section_bg {
  background: #333 url('../images/covid_bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: var(--light-color);
  /* border-radius: 0 0 15% 15%; */
}

.content_start {
  width: 50%;
  padding: 5rem 3rem;
}

.content_start p {
  text-align: justify;
}

.content_start a {
  color: var(--secondary-color);
}

.boxes {
  font-family: 'Carnero Regular', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.box {
  width: 33.3333%;
  margin: 20px 10px;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.box h1 {
  color: var(--graph-color);
  font-size: 40px;
  font-weight: 300;
}

.box p {
  font-size: 20px;
}

.myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modalContent {
  background-color: #fefefe;
  color: #000;
  position: absolute;
  top: 35%;
  margin-left: 100px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 3px 3px 3px 0 rgb(92, 91, 91);
}

.modal_info {
  padding-top: 15px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #aaaaaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/***********************************COWIN ************************************/

.cowin {
  background: var(--bg-color);
  margin-top: 50px;
}

.cowin-header {
  padding: 20px 0;
}

.step {
  display: inline-block;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.step-box {
  width: 250px;
  min-height: 350px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  border-radius: 0 0 10px 10px;
  background: var(--light-color);
}

.step-box img {
  width: 100%;
  height: 150px;
}

.step-para1 {
  font-size: 14px;
  text-align: justify;
  padding: 15px 30px;
  min-height: 100px;
  color: #333;
}

.step-para2 {
  font-size: 10px;
  text-align: center;
  background: var(--graph-color);
  font-weight: 300;
  min-height: 30px;
  line-height: 30px;
}

.arrow {
  line-height: 250px;
}

.stepno {
  text-transform: uppercase;
  background: var(--secondary-color);
  width: fit-content;
  margin: 0 auto;
  padding: 3px 10px;
  border-radius: 7px;
  color: var(--light-color);
}

/*********************************** COVID BASICS ************************************/

.covid_basic {
  margin: 30px 0;
}

/* =========================================================== */
.collapsible {
  /* background-color: #777; */
  background-color: var(--secondary-color);
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  /* background-color: #555; */
  background-color: var(--primary-color);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  text-align: justify;
  transition: max-height 0.2s ease-out;
  background-color: var(--bg-color);
}

.content p span {
  font-weight: bold;
}

.content p:first-child {
  margin-top: 10px;
}

.content p:last-child {
  margin-bottom: 50px;
}

/*********************************** SECTION END ************************************/

/*********************************** FOOTER START ************************************/

footer {
  background: var(--primary-color);
  color: var(--light-color);
}

.backToTop {
  height: 50px;
  background-color: var(--dark-color);
  display: block;
}

.backToTop span {
  display: block;
  line-height: 50px;
}

.backToTop:hover {
  background: #26365a;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-evenly; */
  margin: 20px 0;
}

.footer-box {
  flex-basis: 400px;
  margin: 0 30px;
}

.navigation_box {
  width: max-content;
  margin: 0 auto;
}

.navTitle {
  margin-bottom: 1.5rem;
}

.navigation_list li {
  margin-bottom: 0.7rem;
}

/*********************************** FOOTER END ************************************/
